template(name="extra")
  .container.extra
    .row
      .col-xs-12.message
        p Each and every invitation is handcrafted, printed individually at our small but cozy apartment in NYC.
    .photos
        .photo.photo4(style="background-image:url('/images/invitation/a1.JPG')")
        .photo.photo4(style="background-image:url('/images/invitation/a2.JPG')")
        .photo.photo4(style="background-image:url('/images/invitation/a3.JPG')")
        .photo.photo4(style="background-image:url('/images/invitation/a4.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/a5.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/b1.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/b2.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/c1.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/c2.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/c3.JPG')")
        .photo.photo4(style="background-image:url('/images/invitation/d1.JPG')")
        .photo.photo4(style="background-image:url('/images/invitation/d2.JPG')")
        .photo.photo4(style="background-image:url('/images/invitation/d5.JPG')")
        .photo.photo4(style="background-image:url('/images/invitation/d3.JPG')")
        .photo.photo2
            iframe(width="290" height="290" src="https://www.youtube.com/embed/9C_DDZKa2BA" frameborder="0" allowfullscreen)
        .photo.photo2(style="background-image:url('/images/invitation/e1.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/d4.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/h1.JPG')")
        .photo.photo3(style="background-image:url('/images/invitation/h2.JPG')")



