template(name="story")
  .container.story
    .row
      .col-md-offset-2.col-md-8.detail {{{_ "Our_Story"}}}
    .row
      .col-offset-12.photos
        .photo.photo1
        .photo.photo2(style="background-image:url('/images/us/IMG_4415.png')")
        .photo.photo3(style="background-image:url('/images/us/IMG_1506_w.jpg')")
    .row
      .col-offset-12.photos
        .photo.photo4(style="background-image:url('/images/us/IMG_4033.png')")
        .photo.photo5()
        .photo.photo6(style="background-image:url('/images/us/IMG_2058.png')")
    .row
      .col-offset-12.photos
        .photo.photo7(style="background-image:url('/images/us/IMG_4128.png')")
        .photo.photo8()
        .photo.photo9(style="background-image:url('/images/us/IMG_1980.png')")

